
body{
    background-color: #F8F9FA !important;
}



#game{

}

#main{

    margin-top: 50px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

#map{
    z-index: 0;
    border: 1px solid rgba(128, 128, 128, 0.192);
    border-radius: 20px;
    flex-grow: 0.9;
}

#country_name{
    text-align: center;
    letter-spacing: 5px;
}

.flag{
    border-radius: 10px;
    max-width: 100px;
    height: 70px;
    object-fit: cover;
}

#country_info{
    border: 1px solid rgba(128, 128, 128, 0.192);
    border-radius: 20px;
    padding: 0 10px;
    min-width:350px;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

.countryFlag{
    display: flex;
    flex-direction: column;
}


#country_info div{

    display: flex;
    align-items: center;
}

.countryFlag{
    justify-content: space-around;
}

.population{
    justify-content: space-around;
}


.capital{
    justify-content: space-around;
}

.weather{
    justify-content: space-around;
}