.to-guess-banner{
    margin-top: 10px;
    padding:30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}

.alert-success{
    position: absolute !important;
    opacity: 0;
}

.to-guess-playing-mode *{
    margin-left: 30px;
}

.to-guess-container *{

    margin-left: 30px;
}


#to-guess-name{
    font-size: 20px;
}


.material-symbols-outlined:is(.bulb) {
    font-size: 30px;
    cursor: pointer;
    color: rgb(50, 177, 194);
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

}

#progress{
    color: green;
}
